body {
	background-color: #fff;
	color: #000;
	font: 9pt sans-serif;
}

h1 {
	font-size: 12pt;
}

h2 {
	font-size: 9pt;
}

a {
	color: navy;
	cursor: hand;
	text-decoration: none;
}

th {
	font-weight: bold;
	text-align: left;
	background-color: silver;
}

td {
	font: 9pt sans-serif;
	vertical-align: top;
}

td.label {
	background-color: silver;
}